<?xml version="1.0" encoding="utf-8"?>
<robot name="robot_docking" xmlns:xacro="http://www.ros.org/wiki/xacro">



<transmission name="front_wheel_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="front_wheel_motor">
        <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="front_wheel_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
</transmission>

<transmission name="left_wheel_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="left_wheel_motor">
        <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="left_wheel_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
</transmission>

<transmission name="right_wheel_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="right_wheel_motor">
        <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="right_wheel_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
</transmission>
	<gazebo reference="front_wheel_link">
		<mu1>1000000000000000.0</mu1>
		<mu2>1000000000000000.0</mu2>
		<kp>1000000000000.0</kp>
		<kd>10.0</kd>
		<minDepth>0.001</minDepth>
		<maxVel>0.1</maxVel>
		<fdir1>1 0 0</fdir1>
  	</gazebo>
	<gazebo reference="left_wheel_link">
		<mu1>1000000000000000.0</mu1>
		<mu2>1000000000000000.0</mu2>
		<kp>1000000000000.0</kp>
		<kd>10.0</kd>
		<minDepth>0.001</minDepth>
		<maxVel>0.1</maxVel>
		<fdir1>1 0 0</fdir1>
  	</gazebo>

  	<gazebo reference="right_wheel_link">
		<mu1>1000000000000000.0</mu1>
		<mu2>1000000000000000.0</mu2>
		<kp>1000000000000.0</kp>
		<kd>10.0</kd>
		<minDepth>0.001</minDepth>
		<maxVel>0.1</maxVel>
		<fdir1>1 0 0</fdir1>
  	</gazebo>
   <!-- <gazebo>
    <plugin name="planar_move_plugin" filename="libgazebo_ros_planar_move.so">
        <commandTopic>cmd_vel</commandTopic> 
        <odometryTopic>odom</odometryTopic> 
        <odometryFrame>odom</odometryFrame> 
        <odometryRate>30.0</odometryRate> 
        <robotBaseFrame>base_footprint</robotBaseFrame> 
    </plugin>
</gazebo> -->
	 <gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
		<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
		<legacyModeNS>true</legacyModeNS>
		</plugin>
  	</gazebo>
  
</robot>